<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Battery Test</title>
  <meta name="description" content="Battery Test">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/immutable/3.8.1/immutable.js"></script>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div>
  <%- JSON.stringify(series) %>
</div>
<script type="text/javascript">

var series = <%- JSON.stringify(series) %>
// var temp = Immutable.fromJS(data.values.map(i => i.split(',')));

$(function () {
    Highcharts.chart('container', {
      title: {
          text: 'Battery consumption',
          x: -20 //center
      },
      xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: {
             second: '%H:%M:%S',
             day: '%e of %b'
          },
          title: {
              text: 'Date'
          }
      },
      yAxis: {
          title: {
              text: 'Percentage'
          },
          min: 0,
          max: 100
      },
      tooltip: {
          valueSuffix: '°C'
      },
      legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle',
          borderWidth: 0
      },
      series: series,
    });
});
</script>
</body>
</html>
