<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> main page</p>
    <% if (data) { %>
      <h2><%= data %></h2>
    <% } %>
  </body>
</html>
